@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ArticlesMain>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "master.cshtml";
}
<!-- Jumbotron, w title -->
<div class="jumbotron text-center jumbotron-fluid">
	<div class="container">
		<h1 class="display-1">@Model.Value("articlesTitle")</h1>
		<p>What we do when we do what we do - and why!</p>
	</div>
</div>
<!-- Main container -->
<div class="container">
	<!-- Featured blogpost -->
	<div class="row section">
		<div class="col-md-12">
			<a href="Blogpost.html" class="featured-link"><div class="featured-blog">
				<div class="image-box" style="background-image:url('images/u_product_roadmap_white-1.png')"></div>
				<h2>Product Update - Deploying Deploy 3.3</h2>
				<p>The end of 2019 is approaching and with this, also the last Product Update of the year. 
					Let’s have a look at what we’ve been working on and what you can expect in the near future.</p>
				<a href="Blogpost.html" class="btn btn-primary">Read more >></a>
			</div></a>
		</div>
	</div>
	<!-- Latest blog posts -->
	<div class="row section">
		<div class="col-md-12">
			<h3>@Model.Value("articlesBodyText")</h3>
		</div>
	</div>
	<!-- Blog Post Query goes here. -->
	@{
		var selection = Umbraco.Content(Guid.Parse("c142ca1d-3472-463b-8c8b-fc7c0e78433e"))
		.ChildrenOfType("articlesItem")
		.Where(x => x.IsVisible())
		.OrderBy(x => x.CreateDate);
	}
	@foreach (var item in selection)
	{
		<article class="special">
			<div class="articledate" > @item.CreateDate </div>
			<div class="articletitle"><a href="@item.Url()">@item.Name()</a></div>
			<div class="articlepreview">@Html.Truncate(item.Value("articleContent").ToString(), 20, true)<a href="@item.Url()">Read @item.Name()..</a></div>
		</article>
	}
</div>